body {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  letter-spacing: 0.02em;
  color: #141a1f;
}

img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}
